body {
	margin: 0px;
	padding: 0px;
	background-color: #eef;
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 12px;
	color: #fee;
}

a {
	color: #ddf;
	font-weight: normal;
}
a:followed {
	color: #ccf;
}
h1 {
	margin: 0px;
	padding: 0px;
	fontweight: normal;
}
div {
	margin: 0px;
	padding: 0px;
}
ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul li {
	display: inline;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.content {
	margin: 0px auto;
	margin-top: 0px;
	width: 750px;
}
#banner {
	background-color: #000;
	padding: 250px 0px 0px 0px;
	margin: 0px;
	height: 310px;
}
#banner img {
	margin: 0px;
	padding: 0px;
	border-bottom: 1px solid black;
}
.sub-block {
	border: 1px solid black;
	padding: 5px;
	margin: 0px;
	background-color: #000;
}
